<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="debug">
    <properties>
        <property name="myPattern" value="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </properties>

    <Appenders>
        <Console name="ConsoleAppend" target="SYSTEM_OUT">
            <PatternLayout pattern="${myPattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="testcase.base.mapper" level="debug"/>
        <Root level="info">
            <AppenderRef ref="ConsoleAppend"/>
        </Root>
    </Loggers>

</configuration>